* {
  margin: 0;
  box-sizing: border-box;
  font-family: Epilogue;
}

.navigation nav p:hover, .navigation nav select:hover, header .actions .register:hover, header .actions .login:hover {
  color: rgb(49, 48, 48);
}

section p, .navigation nav select, .navigation nav, header .actions .register, header .actions .login, header .actions {
  color: rgb(114, 110, 110);
  font-weight: 500;
}

section div, .navigation nav, .navigation, header .actions, header {
  display: flex;
  align-items: center;
}

.container {
  overflow-x: hidden;
  max-width: 1547px;
  margin: auto;
}

header {
  justify-content: space-between;
  padding: 20px 40px;
}
@media (max-width: 1023px) {
  header {
    padding: 20px 15px;
  }
}
@media (min-width: 1024px) {
  header .icon {
    display: none;
  }
}
header .actions {
  gap: 25px;
}
header .actions .login {
  border: 1px solid white;
  padding: 0 0;
  color: rgb(114, 110, 110);
  text-decoration: none;
  background-color: transparent;
  font-size: 14px;
  border-radius: 12px;
}
header .actions .register {
  border: 1px solid rgb(114, 110, 110);
  padding: 8px 12px;
  color: rgb(114, 110, 110);
  text-decoration: none;
  background-color: transparent;
  font-size: 14px;
  border-radius: 12px;
}
header .actions .register:hover {
  border: 1px solid rgb(49, 48, 48);
}
@media (max-width: 1023px) {
  header .actions {
    display: none;
  }
}

.navigation {
  gap: 40px;
}
.navigation nav {
  gap: 25px;
}
.navigation nav select {
  text-decoration: none;
  border: none;
  font-size: 14px;
}
.navigation nav select:focus {
  outline: none;
}
.navigation nav p {
  font-size: 14px;
}
@media (max-width: 1023px) {
  .navigation nav {
    display: none;
  }
}

.mobile {
  display: block;
  width: 100vw;
  margin-top: 10px;
}
@media (min-width: 1024px) {
  .mobile {
    display: none;
  }
}

section {
  display: flex;
  align-items: end;
  margin: 30px 150px;
  gap: 150px;
}
section h1 {
  font-size: 70px;
}
@media (max-width: 1100px) {
  section h1 {
    font-size: 60px;
  }
}
@media (max-width: 1023px) {
  section h1 {
    font-size: 40px;
  }
}
section p {
  margin: 70px 0;
}
@media (max-width: 1100px) {
  section p {
    margin: 50px 0;
    line-height: 1.5;
  }
}
@media (min-width: 1101px) and (max-width: 1517px) {
  section p {
    margin: 50px 0;
    line-height: 1.5;
  }
}
section button {
  border: 1px solid rgb(114, 110, 110);
  padding: 12px 16px;
  color: rgb(114, 110, 110);
  text-decoration: none;
  background-color: transparent;
  font-size: 16px;
  border-radius: 12px;
  transition: all 0.3s;
}
section button:hover {
  background-color: black;
  color: white;
}
section div {
  gap: 15px;
  margin-top: 150px;
  justify-content: center;
}
@media (max-width: 1100px) {
  section div {
    margin-top: 100px;
  }
}
@media (min-width: 1101px) and (max-width: 1517px) {
  section div {
    margin-top: 120px;
  }
}
section .desktop {
  width: 50%;
}
@media (max-width: 1023px) {
  section .desktop {
    display: none;
  }
}
@media (max-width: 1100px) {
  section {
    margin: 30px 40px;
    gap: 70px;
  }
}
@media (max-width: 1023px) {
  section {
    margin: 30px 40px;
    gap: 70px;
    display: block;
    text-align: center;
  }
}
@media (min-width: 1101px) and (max-width: 1517px) {
  section {
    margin: 30px 50px;
    gap: 100px;
  }
}
@media (max-width: 1023px) {
  section {
    margin: 30px 15px;
  }
}

/*# sourceMappingURL=output.css.map */
